.modal{
  color: black;
}
.modalHeader{
  color: white;
  background: #1F66B7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.modalFooter{
  background: #1F66B7;
  color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.modalFooter button {
  background: transparent;
  border: none;
}